<section class="footer">
    <div class="contacts">
        <ul>
            <li>
                <a href="mailto:petodorov@google.com" class="mail">petodorov@gmail.com</a>
            </li>
            <li>
                <span class="phone">+359 886 ??? ???</span>
            </li>
        </ul>
    </div>
    <div class="myLinks">
        <ul>
            <li>
                <a href=""></a>
            </li>
            <li>
                <a href=""></a>
            </li>
        </ul>
    </div>
</section>