<nav class="nav">
    <div class="wrapper">
        <p>
            <a href="/" class="nameLink">Peter Todorov</a>
        </p>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/bands">Bands</a>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/irfantheband/">Irfan</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Belonoga.G/">Belonoga</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Merudia/">Merudia</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/instruments">Instruments</a>
                <ul>
                    <li>
                        <a href="http://www.sacredartsresearch.org/blog/2015/2/25/the-magic-of-the-darbuka-drum">Darbuka</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Belonoga.G/">Bendir</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Merudia/">Djembe</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>